@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Cinzel', serif;
}

body {
  background-color: #795804;
  cursor: url(images/cursor.png), auto;
}

/*  --------------------------------MOBILE FIRST   */
h1 {
  color: #ffc85e;
  text-align: center;
  text-decoration: none;
  font-size: 10em;
  text-shadow: #7a7a7a 4px 3px 0px;
}

h2 {
  color: #ffc85e;
  text-align: center;
  text-decoration: none;
  font-size: 4em;
  text-shadow: #7a7a7a 4px 3px 0px;
}

h3 {
  color: #ffc85e;
  text-align: center;
  text-decoration: none;
  font-size: 2.5em;
}

h6 {
  color: #ffc85e;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}

p {
  color: #ffc85e;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

a {
  display: flex;
  justify-content: center;
  color: #ffc85e;
  font-size: 2em;
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  transition: color 500ms;
  cursor: url(images/casa.png), auto;
}

a:hover {
  color: #FF00FF;
}

header {
  position: fixed;
  z-index: 100;
  background-color: #000;
  height: 10vh;
  width: 100vw;
}

header .contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .contenedor .logo {
  height: 10vh;
}

header .contenedor .menu {
  display: none;
  position: absolute;
  right: 100px;
}

header .contenedor .menu .menu_icon {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px;
}

header .contenedor .menu a {
  padding: 0px 10px 0px 10px;
}

/*   ------------------------------------lANDSCAPE   */
@media (min-device-width:720px) {
  h1 {
    color: #ffc85e;
    text-align: center;
    text-decoration: none;
    font-size: 8em;
    text-shadow: #7a7a7a 4px 3px 0px;
  }

  h2 {
    color: #ffc85e;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    text-shadow: #7a7a7a 4px 3px 0px;
  }

  h3 {
    color: #ffc85e;
    text-align: center;
    text-decoration: none;
    font-size: 1.25em;
  }

  h6 {
    color: #ffc85e;
    text-align: center;
    text-decoration: none;
    font-size: 0.5em;
  }

  p {
    color: #ffc85e;
    text-align: center;
    text-decoration: none;
    font-size: 0.75em;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  a {
    display: flex;
    justify-content: center;
    color: #ffc85e;
    font-size: 1em;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    transition: color 500ms;
    cursor: url(images/casa.png), auto;
  }

  a:hover {
    color: #FF00FF;
  }

  header {
    position: fixed;
    z-index: 100;
    background-color: #000;
    height: 80px;
    width: 100vw;
  }

  header .contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header .contenedor .logo {
    padding-left: 50px;
    height: 80px;
  }

  header .contenedor .menu {
    position: absolute;
    right: 100px;
  }

  header .contenedor .menu .menu_icon {
    display: none;
  }

  header .contenedor .menu a {
    padding: 0px 10px 0px 10px;
  }

  #primer_seccion {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url(images/fondo_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
  }

  #primer_seccion img {
    margin: 100px;
    height: 300px;
    width: 300px;
  }

  #segunda_seccion {
    height: 60vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #segunda_seccion h2 {
    padding: 0 0 25px 0;
  }

  #tercera_seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    width: 100%;
    background-color: #000;
  }

  #tercera_seccion .button {
    font-size: 2em;
    position: relative;
    top: -50px;
    height: 100px;
    width: 250px;
    padding: 10px;
    border-radius: 8px;
    background-color: #111;
    box-shadow: #000 5px 5px 15px 5px;
    border: 2px solid #222;
    align-items: center;
  }

  #tercera_seccion .button:hover {
    background: #333;
  }

  #tercera_seccion .contenedor {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #tercera_seccion .contenedor .card {
    margin: 25px 0px 25px 0px;
    background-color: #555;
    width: 180px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px rgba(#fff, 0.5);
    overflow: hidden;
    transition: all 1.5;
  }

  #tercera_seccion .contenedor .card:hover {
    transform: scale(1.1);
    box-shadow: 12px 12px 16px 16px rgba(#555, 0.5);
  }

  #tercera_seccion .contenedor .card img {
    width: 100%;
    height: 45%;
  }

  #cuarta_seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
  }

  #cuarta_seccion .contenedor {
    display: flex;
    justify-content: center;
  }

  #cuarta_seccion .contenedor ul {
    display: flex;
    flex-direction: column;
  }

  #cuarta_seccion .contenedor ul .telefono {
    display: flex;
    flex-direction: column;
    padding: 10px 0 15px 0;
  }

  #cuarta_seccion .contenedor ul .telefono .Yuli {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #cuarta_seccion .contenedor ul .telefono .Malcom {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #cuarta_seccion .contenedor ul .redes {
    display: flex;
    flex-direction: column;
    padding: 10px 0 15px 0;
  }

  #cuarta_seccion .contenedor ul .redes .instagram {
    padding: 7px 0 7px 0;
  }

  #cuarta_seccion .contenedor ul .redes .whatsapp {
    padding: 3px 0 3px 0;
  }

  footer {
    padding: 10px 0 10px 0;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
